{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}


{% block main %}

<h1>Learning languages has never been more simple!</h1>
<section>
  <p class="lead">Join us and start your language adventure today!</p>
  <br>
  <div class="carousel-container">
    <button id="prev" class="carousel-btn prev disabled"><i class="bi bi-chevron-left"></i></button>
    <div class="carousel">
      <div class="carousel-track">
        {% for language in languages %}
        {% include "_components/carousel.html.twig" with {'language': language} %}
        {% endfor %}
      </div>
    </div>
    <button id="next" class="carousel-btn next"><i class="bi bi-chevron-right"></i></button>
  </div>

</section>
<section>
  <h2 class="mt-5 mb-4">Why choose LingoStep?</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Personalized Learning</h5>
          <p class="card-text">Tailor your learning experience with courses designed to fit your goals and pace.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Interactive Content</h5>
          <p class="card-text">Engage with interactive lessons, quizzes, and real-life scenarios to enhance your
            learning.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Community Support</h5>
          <p class="card-text">Join a vibrant community of learners and native speakers to practice and grow together.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <h2 class="mt-5 mb-4">Get Started Today!</h2>
  <p>Sign up now and take the first step towards mastering a new language with LingoStep.</p>
  <a href="{{ path('register') }}" class="btn btn-primary btn-lg">Sign Up</a>
  <a href="{{ path('language_courses_list') }}" class="btn btn-secondary btn-lg">Explore Courses</a>
</section>

{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ vite_entry_script_tags('carrousel') }}
{% endblock %}