{% extends 'base.html.twig' %}

{% block title %}Your Answers Journal{% endblock %}

{% block main %}

<h1>Welcome to your completed missions page!</h1>
<div class="row ps-5 pe-5">
    {% for userMission in userMissions %}
    {% include "_components/user_mission-card.html.twig" %}
    {% endfor %}
</div>

{% endblock %}