{% extends "base_admin.html.twig" %}

{% block title %}Create a mission{% endblock %}

{% block main %}
<h1 class="text-center my-4">Create a mission</h1>
<div class="container">
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <div class="d-flex justify-content-center my-4">
    <button type="submit" class="btn-lingo btn-lingo--green">Create</button>
  </div>
  {{ form_end(form) }}
</div>
{% endblock %}