{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminMissionController!{% endblock %}

{% block main %}
<h1 class="mb-4">Create a mission</h1>
<div class="d-flex justify-content-center">
    <a class="btn btn-outline-info me-3" href="{{ path('app_admin_mission_create') }}">Create</a>
</div>
{% endblock %}