{% extends 'base_admin.html.twig' %}

{% block title %}Quiz Management{% endblock %}

{% block main %}
<h1 class="mb-4">Create a quiz</h1>
<div class="d-flex justify-content-center">
    <a class="btn btn-outline-info me-3" href="{{ path('app_admin_quiz_create') }}">Create</a>
</div>
{% endblock %}