body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredoka', sans-serif; /* titres funky */
}

p, a, span, label, li, td, button{
    font-family: 'Poppins', sans-serif !important;
}
