@import "variables";

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "forms";

@import "navbar";

@import "carousel";

@import "quiz-slide";

// Custom styles
.my-custom-btn {
  background-color: $primary; // Utilise maintenant la variable personnalisée
  border-radius: $border-radius-lg;
  padding: 0.5rem 1rem;
}

body {
  background-color: $light;
  color: $dark;
  font-family: 'Arial', sans-serif;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    color: darken($primary, 10%);
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
  margin-bottom: 1rem;
}