{% extends 'base.html.twig' %}

{% block title %}Contact LingoStep{% endblock %}

{% block main %}

<h1>Contact LingoStep</h1>
<p>If you have any questions, feel free to reach out!</p>

<div class="container mt-4">
  {{ form_start(form, {'attr': {'class': 'contact-form'}}) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-outline-primary">Send</button>
  {{ form_end(form) }}
</div>

{% endblock %}