<div class="col">
  <div class="card h-100">
    <img src="{{ asset(languageCourse.language.flagPath) }}" class="card-img-top"
      alt="drapeau {{ languageCourse.language.label }}" />
    <div class="card-body">
      <h5 class="card-title">{{ languageCourse.label }}</h5>
      <p class="card-text">{{ languageCourse.description }}</p>
      <a href="#" class="btn btn-primary">Join</a>
    </div>
  </div>
</div>