<div class="col">
  <div class="card h-100">
    <img src="{{ language.flagPath }}" class="card-img-top" alt="drapeau {{ language.label }}" />
    <div class="card-body">
      <h5 class="card-title">{{ language.label }}</h5>
      <p class="card-text">"future language course description"</p>
      <a href="#" class="btn btn-primary">Join</a>
    </div>
  </div>
</div>