<div class="col-sm-6 mb-3 mb-sm-0">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ mission.label }}</h5>
      <p class="card-text">{{ mission.description }}</p>
      <a href="{{ path('app_quiz', {
    'mission_id': mission.id,
    'question_id': question.id
}) }}" class="btn btn-primary">Start mission</a>
    </div>
  </div>
</div>